<div class='tasks-view shadow app-panel'>
  <h3 class="panel-header">{{model.getProjectName()}}</h3>
  <div class="filter-container">
    <input id="task-filter" class="filter border" (input)='filterTasks($event.target.value)'>
  </div>
  <div id="tasks-list" class="list border">
      <div *ngFor='let task of model.getTasks()' class="list-item block transparent-border" >
        <div class="task-main">
          <div class="list-item-value">{{task.getName()}}</div>
          <div class="list-item-options" 
          (click)='taskMenuClick($event, task)'
          [matMenuTriggerFor]="menu"
          >...</div>
        </div>
        <div class="task-info">
          <div *ngIf="task.getDescription()!=null" class="task-description-icon info-icon"
          matTooltip="{{task.getDescription()}}"></div>
          <div *ngIf="task.getEndDate()!=null" class="task-enddate-icon info-icon"
          matTooltip="{{getEndDateText(task)}}"></div>
          <div *ngIf="task.getSubtasks().length != 0" class="info-icon task-subtask"
          matTooltip="{{getSubtasksList(task)}}">
            {{getFinishedSubtasks(task)}} / {{task.getSubtasks().length}}
          </div>
        </div>
      </div>
  </div>
  <button class="button border" (click)='createTaskClick()'>Dodaj zadanie</button>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editTask()">
      Edytuj
    </button>
    <button mat-menu-item (click)="removeTask()">
      Usuń
    </button>
  </mat-menu>