.tasks-view{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#tasks-list{
    /* height: 100%; */
    overflow: auto;
}

.task-menu-button{
    visibility: collapse;
}

.task:hover .task-menu-button{
    visibility: visible;
}

.task{
    display: flexbox;
    width: 100%;
    box-sizing: border-box;
    padding:5px;
    border-bottom: 1px solid black;
    border-radius: 8px;
}

.task:hover{
    cursor: pointer;
    background-color: antiquewhite;
}

.task-main{
    display: flex;
}

.task-info{
    display: flex;

}

.task-name{
    width: 100%;
}


.task-subtask{
    width: auto;   
}

.filter-container{
    margin: 5px;
}

#task-filter{
    width: 100%;
    height: 2em;
    box-sizing: border-box;
}


