<div class="task-details">
    <form class="form">

        <mat-expansion-panel class="form-group" [expanded]="true">
            <mat-expansion-panel-header class="form-group-header">
                Nazwa
            </mat-expansion-panel-header>
            <!-- TODO: można dodać opis -->
            <input type="text" class="form-control" id="task-id" name='name'
            [ngModel]='model.getTask().getName()' (ngModelChange)="model.getTask().setName($event)">
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="model.isDescriptionExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Opis
            </mat-expansion-panel-header>
            <textarea class="form-control" id="task-description" name="description"
            [ngModel]='model.getTask().getDescription()' (ngModelChange)="model.getTask().setDescription($event)"></textarea>
        </mat-expansion-panel>
        
        <mat-expansion-panel class="form-group" [expanded]="model.isStatusExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Stan
            </mat-expansion-panel-header>
            <select class="form-control" id="task-status" name="status"
            [ngModel]='getStatus()'>
                <option value="started">Aktywny</option>
                <option value="ended">Zakończony</option>
                <option value="canceled">Anulowany</option>
                <option value="awaiting">Oczekujący</option>
            </select>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="model.isEndDateExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Data końcowa
            </mat-expansion-panel-header>
            <div class="datepicker-container">
                <input matInput class='form-control' id="task-end-date" name="end-date" [matDatepicker]="endDatePicker"
                [ngModel]='model.getTask().getEndDate()' (ngModelChange)="model.getTask().setEndDate($event)">
                <mat-datepicker-toggle [for]="endDatePicker" class="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </div>  
        </mat-expansion-panel>
      
        <mat-expansion-panel class="form-group" [expanded]="model.isPlannedTimeExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Planowany czas
            </mat-expansion-panel-header>
            <input type='number' class="form-control" id="task-planned_time" name="planned_time"
            [ngModel]="model.getTask().getPlannedTime()" (ngModelChange)="model.getTask().setPlannedTime($event)">
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="model.isProjectExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Projekt
            </mat-expansion-panel-header>
            <!-- TODO: prawdopodobnie przydałoby się, żeby tutaj było dodatkowe ograniczenie, dzięki któremu nie będzie zwijał po wybraniu null -->
            <select class="form-control" id="task-project" name="project" 
            [ngModel]="model.getTask().getProjectID()" (ngModelChange)="model.setProject($event)">
                <option [ngValue]="null">Brak</option>
                <option *ngFor="let project of model.getProjects()" [ngValue]="project.getId()">{{project.getName()}}</option>
            </select>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="model.isTagsExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Etykiety
            </mat-expansion-panel-header>
            <div class="labels-list">
                <div *ngFor="let label of model.getTask().getTags()" class="label-item">
                    <span class="label-name">
                        {{label.getName()}}
                    </span>
                    <span class="remove-label" (click)="removeLabel(label)"></span>
                </div>
            </div>
            <button class="form-control" id="task-labels" name="labels" [matMenuTriggerFor]="appMenu">Dodaj</button>
            <!-- TODO: można to zrobić w ten sposób, że ostatnią pozycją będzie dodaj inną -->
            <button class="form-control" id="manage-label-button" (click)="openLabelsManager()">Zarzadzaj etykietami</button>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="model.isSubtasksExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Kroki
            </mat-expansion-panel-header>
            <div class="subtasks-list">
                <div *ngFor="let subtask of model.getTask().getSubtasks()" class="subtask-item">
                    <div 
                    [ngClass]="{'subtask-checkbox-icon': subtask.getStatus()==status.STARTED,
                                'subtask-done-icon': subtask.getStatus()==status.ENDED,
                                'subtask-icon':true,
                                'checkbox': true}"
                                (click)="toggleSubtaskStatus(subtask)">
                    </div>
                    <div class="subtask-name" (click)="toggleSubtaskStatus(subtask)"
                    *ngIf="model.getEditedSubtask()!=subtask">{{subtask.getName()}}</div>
                    <input class="subtask-name" value="{{subtask.getName()}}" [id]="'subtask-name-input-' + subtask.getId()"
                    *ngIf="model.getEditedSubtask()==subtask">
                    <div class="subtask-item-buttons">
                        <div class="edit-subtask subtask-icon button" (click)='editSubtask(subtask)'
                        *ngIf="model.getEditedSubtask()!=subtask"></div>
                        <div class="remove-subtask subtask-icon button" (click)='removeSubtask(subtask)'
                        *ngIf="model.getEditedSubtask()!=subtask"></div>
                    </div>
                    
                    <div class='edit-accept subtask-icon button' (click)="acceptEditing(subtask)"
                    *ngIf="model.getEditedSubtask()==subtask"></div>  
                </div>
            </div>
            <input type="text" class="form-control" id="subtask" [hidden]="!model.isSubtaskEditing()">
            <div class="buttons-container">
                <button class="button" id="add-subtask-button" [hidden]="model.isSubtaskEditing()"
                (click)="addNewSubtask()">
                    Dodaj
                </button>
                <button class="button" id="cancel-subtask-button" [hidden]="!model.isSubtaskEditing()"
                (click)="cancelAddingSubtask()">Anuluj</button>
                <button class="button" id="save-subtask-button" [hidden]="!model.isSubtaskEditing()"
                (click)="saveNewSubtask()">Zapisz</button>
            </div>
        </mat-expansion-panel>
    </form>
    <div class="button-section">
        <button class="button form-button" id="task-close-button" (click)='close()'>Zamknij</button>
        <button class="button form-button" id="task-save-button" (click)='saveTask()'>Zapisz</button>
    </div>
</div>

<mat-menu #appMenu="matMenu" class="my-menu">
    <button mat-menu-item *ngFor="let label of model.getTags()" class="form-control"
    (click)="chooseTag(label)">{{label.getName()}}</button>
</mat-menu>