<div class="app-panel shadow">
    <div class="tool-panel">
        <mat-icon [ngClass]="({
        'important-star': getModel().getTask().isImportant(),
        'not-important-star': !getModel().getTask().isImportant(),
        'star':true})" (click)="toggleTaskImportance()">star</mat-icon>
        <h3 class="panel-header">{{getModel().getTask().getName()}}</h3>
        <button class="close-button" (click)="closeView()">X</button>
        </div>
    
    <form class="form" id="list-details-form"
        (keydown.enter)="$event.preventDefault()">

        <mat-expansion-panel class="form-group" [expanded]="true">
            <mat-expansion-panel-header class="form-group-header">
                Nazwa
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_name_group"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="getState().isDescriptionExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Opis
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_description"></ng-container>
        </mat-expansion-panel>
        
        <mat-expansion-panel class="form-group" [expanded]="getState().isStatusExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Stan
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_status"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]='getState().isPriorityExtended()'>
            <mat-expansion-panel-header class="form-group-header">
                Priorytet
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_priority"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="getState().isDateExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Data
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_date"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="getState().isEndDateExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Data końcowa
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_end_date"></ng-container>
        </mat-expansion-panel>
      
        <mat-expansion-panel class="form-group" [expanded]="getState().isPlannedTimeExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Planowany czas
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_planned_time"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="getState().isLabelsExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Etykiety ({{getModel().getTask().getLabels().length}})
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_labels_group"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="getState().isStageExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Etap projektu
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_stage"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="getState().isSubtasksExtended()">
            <mat-expansion-panel-header class="form-group-header">
                Kroki ({{getFinishedSubtasks(getModel().getTask())}} / {{getModel().getTask().getSubtasks().length}})
            </mat-expansion-panel-header>
            <ng-container [ngTemplateOutlet]="task_subtasks_group"></ng-container>
        </mat-expansion-panel>
    </form>
</div>

<mat-menu #appMenu="matMenu" class="my-menu">
    <div mat-menu-item *ngFor="let label of getLabels().getModel().getLabels()" class="list-item small-list-item"
    (click) = "getLabels().selectLabel(label, $event)">
        <mat-checkbox type='checkbox' [checked]="getLabels().isLabelSelected(label)"></mat-checkbox>
        <span >{{label.getName()}}</span>
    </div>
    <!-- <button mat-menu-item *ngFor="let label of getLabels().getModel().getLabels()" class="list-item small-list-item"
    (click)="getLabels().chooseLabel(label)">{{label.getName()}}</button> -->
    <button (click)="getLabels().cancelChoosingLabels()">Anuluj</button>
    <button (click)="getLabels().acceptSelectedLabels()">Gotowe</button>
</mat-menu>

<ng-template #task_name_group> 
    <input type="text" class="form-control" id="task-name" name='name' autocomplete="off"
            [ngModel]='getModel().getTask().getName()' (ngModelChange)="getModel().getTask().setName($event)"
            (keyup.enter)="updateTask()" (focusout)="updateTask()"
            >
    <span *ngIf="!getValidator().isNameValid() && getChangeDetector().isNameChanged()"
    class="invalid-feedback">Nazwa nie może być pusta</span>
</ng-template>

<ng-template #task_description>
    <textarea class="form-control" id="task-description" name="description" rows="4"
            [ngModel]='getModel().getTask().getDescription()' (ngModelChange)="getModel().getTask().setDescription($event)"
            (keyup.enter)="updateTask()" (focusout)="updateTask()"></textarea>
</ng-template>

<ng-template #task_status>
    <select class="form-control" id="task-status" name="status"
            [ngModel]='getModel().getTask().getStatus()' (ngModelChange)="getModel().getTask().setStatus($event)"
            (change)="updateTask()">
        <option [ngValue]="status.STARTED">Aktywny</option>
        <option [ngValue]="status.ENDED">Zakończony</option>
        <option [ngValue]="status.CANCELED">Anulowany</option>
        <option [ngValue]="status.AWAITING">Oczekujący</option>
    </select>
</ng-template>

<ng-template #task_priority>
    <select class="form-control" id="task-priority" name="priority"
            [ngModel]='getModel().getTask().getPriority()' (ngModelChange)='getModel().getTask().setPriority($event)'
            (change)="updateTask()">
        <option [ngValue]="null" ></option>
        <option [ngValue]="priority.LEVEL_1">1</option>
        <option [ngValue]="priority.LEVEL_2">2</option>
        <option [ngValue]="priority.LEVEL_3">3</option>
        <option [ngValue]="priority.LEVEL_4">4</option>
        <option [ngValue]="priority.LEVEL_5">5</option>
    </select>
</ng-template>

<ng-template #task_date>
    <div class="datepicker-container">
        <input matInput class='form-control' id="task-date" name="date" autocomplete="off"
        [matDatepicker]="datePicker"
        [ngModel]='getModel().getTask().getDate()' (ngModelChange)="getModel().getTask().setDate($event)"
        (dateChange)="updateTask()">
        <mat-datepicker-toggle [for]="datePicker" class="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>      
    </div>
</ng-template>

<ng-template #task_end_date>
    <div class="datepicker-container">
        <input matInput class='form-control' id="task-end-date" name="end-date" autocomplete="off"
        [matDatepicker]="endDatePicker"
        [ngModel]='getModel().getTask().getEndDate()' (ngModelChange)="getModel().getTask().setEndDate($event)"
        (dateChange)="updateTask()">
        <mat-datepicker-toggle [for]="endDatePicker" class="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
    </div>  
</ng-template>

<ng-template #task_planned_time>
    <input type='number' class="form-control" id="task-planned_time" name="planned_time" autocomplete="off"
            min="1" (keyup.enter)="updateTask()" (focusout)="updateTask()"
            [ngModel]="getModel().getTask().getPlannedTime()" (ngModelChange)="getModel().getTask().setPlannedTime($event)">
</ng-template>

<ng-template #task_labels_group>
    <div class="labels-list">
        <div *ngFor="let label of getModel().getTask().getLabels()" class="label-item transparent-border">
            <span class="label-name">
                {{label.getName()}}
            </span>
            <span class="remove-label" (click)="getLabels().removeLabel(label)"></span>
        </div>
    </div>
    <button class="form-control button small-button" id="task-labels" name="labels" 
    [matMenuTriggerFor]="appMenu" (menuClosed)="getLabels().cancelChoosingLabels()"
    (menuOpened)="getLabels().openChoosingLabels()">
        Dodaj
    </button>
    <!-- TODO: można to zrobić w ten sposób, że ostatnią pozycją będzie dodaj inną -->
    <button class="form-control button small-button" id="manage-label-button" (click)="openLabelsManager()">Zarzadzaj etykietami</button>
</ng-template>

<ng-template #task_stage>
    <select class="form-control" name="task-stage"
            [ngModel]="getModel().getTask().getProjectStageID()" (ngModelChange)="getModel().getTask().setProjectStageID($event)"
            (change)="updateTask()">
        <option [ngValue]="null"></option>
        <option *ngFor="let stage of getModel().getStages()" [ngValue]="stage.getId()">{{stage.getName()}}</option>
    </select>
</ng-template>

<ng-template #task_subtasks_group>
    <div class="list border"  id="subtask-list"
    cdkDropList
    #subtaskList="cdkDropList"
    [cdkDropListData]="getModel().getTask().getSubtasks()"
    (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let subtask of getModel().getTask().getSubtasks()" class="list-item small-list-item transparent-border" cdkDrag>
            <ng-container [ngTemplateOutlet]="subtask_item" [ngTemplateOutletContext]="{$implicit:subtask}"></ng-container>
            <ng-container [ngTemplateOutlet]="subtask_edit" [ngTemplateOutletContext]="{$implicit:subtask}"></ng-container>
        </div>
        <ng-container [ngTemplateOutlet]="new_subtask"></ng-container>
    </div>
    
</ng-template>

<ng-template #subtask_item let-subtask>
    <div [ngClass]="{'subtask-checkbox-icon': subtask.getStatus()==status.STARTED,
                        'subtask-done-icon': subtask.getStatus()==status.ENDED,
                        'subtask-icon':true,
                        'checkbox': true}"
                        (click)="getSubtask().toggleSubtaskStatus(subtask)">
    </div>
    <div class="list-item-value" (click)="getSubtask().toggleSubtaskStatus(subtask)"
        *ngIf="!getSubtask().getModel().isEditingSubtask(subtask)">
        {{subtask.getName()}}
    </div>
</ng-template>

<ng-template #subtask_edit let-subtask>
    <input class="subtask-name" value="{{subtask.getName()}}" [id]="'subtask-name-input_' + subtask.getId()"
            autocomplete="off"
            *ngIf="getSubtask().getModel().isEditingSubtask(subtask)"
            [ngModel]="getSubtask().getModel().getEditingSubtaskName()" (ngModelChange)="getSubtask().getModel().setEditingSubtaskName($event)"
            (keyup)="getSubtask().handleKeysOnEditSubtask($event, subtask)">
    <div class="subtask-item-buttons">
        <div class="list-item-options edit-button small-accept-button" (click)='getSubtask().openEditingSubtask(subtask)'
        *ngIf="!getSubtask().getModel().isEditingSubtask(subtask)"></div>
        <div class="list-item-options remove-button small-accept-button" (click)='getSubtask().removeSubtask(subtask)'
        *ngIf="!getSubtask().getModel().isEditingSubtask(subtask)"></div>
    </div>
    
    <div class='list-item-options accept-button small-accept-button' (click)="getSubtask().acceptEditingSubtask(subtask)"
    *ngIf="getSubtask().getModel().isEditingSubtask(subtask)"></div>  
</ng-template>

<ng-template #new_subtask>
    <input type="text" class="form-control" id="subtask-input" autocomplete="off"
    [hidden]="!getSubtask().getModel().isAddingSubtask()"
    [ngModel]="getSubtask().getModel().getNewSubtaskName()" (ngModelChange)="getSubtask().getModel().setNewSubtaskName($event)"
    (keyup)="getSubtask().handleKeysOnNewSubtaskInput($event)">
    <div class="buttons-container">
        <button class="button small-button insert-button" id="add-subtask-button" [hidden]="getSubtask().getModel().isAddingSubtask()"
        (click)="getSubtask().openAddingSubtask()">
            Dodaj
        </button>
        <button class="button small-button insert-button" id="save-subtask-button" [hidden]="!getSubtask().getModel().isAddingSubtask()"
        (click)="getSubtask().addNewSubtask()">Zapisz</button>
        <button class="button small-button insert-button" id="cancel-subtask-button" [hidden]="!getSubtask().getModel().isAddingSubtask()"
        (click)="getSubtask().closeAddingSubtask()">Anuluj</button>
    </div>
</ng-template>