<div>
    <div class="columns-container">
        <div class="column" id="{{columnName}}"
        *ngFor="let column of getModel().getColumns()"
        cdkDropList #columnName="cdkDropList" 
        [cdkDropListData]="column.getKanbanTasks()"
        [cdkDropListConnectedTo]="getModel().getColumnsNames()"
        (cdkDropListDropped)="drop($event)">
            {{columnName}}
            <div cdkDrag *ngFor="let kanbanTask of column.getKanbanTasks()"
                class="task-item">
                {{kanbanTask.getTask().getName()}}
            </div>            
        </div>
    </div>
    <button (click)="closeView()"> Zamknij</button>
</div>