<div class="panel vertical-container" id="labels-container">
  <input
    id="project-filter"
    autocomplete="off"
    (input)="model.filterLabels($event.target.value)"
    placeholder="Wyszukaj etykietę"
  />
  <ng-container *ngTemplateOutlet="labels_list"></ng-container>
  <button
    class="create-button"
    [hidden]="isInsertingOpen()"
    (click)="openInserting()"
  >
    Dodaj
  </button>
</div>

<ng-template #labels_list>
  <div
    class="list"
    id="labels-list"
    cdkDropList
    #labelsList="cdkDropList"
    [cdkDropListData]="model.getLabels()"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div *ngFor="let label of model.getLabels()" class="list-item" cdkDrag>
      <ng-container
        [ngTemplateOutlet]="label_item"
        [ngTemplateOutletContext]="{ $implicit: label }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="label_edit"
        [ngTemplateOutletContext]="{ $implicit: label }"
      ></ng-container>
    </div>
  </div>
  <inserting-template (acceptEvent)="addNewLabel($event)"></inserting-template>
</ng-template>

<ng-template #label_item let-label>
  <!-- TODO: można sprawdzić, czy ten if powinien być w tym miejscu, czy można go dać gdzieś indziej, żeby nie obliaczało pustego elementu -->
  <div class="label-name" *ngIf="!getEditing().isEditingOpen(label)">
    {{ label.name }}
  </div>
</ng-template>

<ng-template #label_edit let-label>
  <input
    class="label-name"
    [value]="label.name"
    [id]="'label-name-input-' + label.id"
    autocomplete="off"
    *ngIf="getEditing().isEditingOpen(label)"
    [ngModel]="getEditing().getModel().getEditingLabelName()"
    (ngModelChange)="getEditing().getModel().setEditingLabelName($event)"
    (keyup)="getEditing().handleKeysOnEditLabel($event, label)"
  />

  <div
    class="accept-item-icon"
    (click)="getEditing().acceptEditingLabel(label)"
    *ngIf="getEditing().isEditingOpen(label)"
  ></div>
</ng-template>
