
@import '../../../../styles.css';

.tasks-view{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#tasks-list{
    /* height: 100%; */
    overflow: auto;
}

.container{
    margin: 5px;
}

#task-filter{
    width: 100%;
    height: 2em;
    box-sizing: border-box;
}


/* TODO: przenieśc style gwiazdek */
.star{
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.7em;
    /* TODO: zrobić kształt gwiazdki */
}

.star:hover{
    cursor: pointer;
}

.important-star{
    color: gold;
}

.not-important-star{
    color:slategray;
}

.list-item-top{
    display: flex;
}

/* .cdk-drag-placeholder {
    background: #ccc;
    border: dotted 1px #999;
    transition: transform 500ms ease;
} */


.box-custom-placeholder {
    height: 20px;
    width: 120px;
    background: #fff;
    border: dotted 1px #0084ff;
    transition: transform 200ms ease;
}

.box-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 500ms ease;
}
