<div class="tasks-view" *ngIf="getModel().isOpen()">
  <div class="horizontal-container">
    <input
      id="task-filter"
      class="filter"
      placeholder="Wyszukaj zadanie"
      autocomplete="off"
      (input)="getModel().filterTasks($event.target.value)"
    />
    <div
      class="button filter-button"
      id="task-filter-button"
      (click)="getFiltering().toggleOpen()"
    ></div>
  </div>

  <div class="filter-container" *ngIf="getFiltering().isOpen()">
    <ng-container [ngTemplateOutlet]="filter_container"></ng-container>
  </div>

  <div class="horizontal-container">
    <div class="simple-button"  (click)="loadTasks(taskType.ACTIVE)">Aktywne</div>
    <div class="simple-button" (click)="loadTasks(taskType.FINISHED)">Zakończone</div>
  </div>
  <div
    id="tasks-list"
    class="list border"
    cdkDropList
    #taskList="cdkDropList"
    [cdkDropListData]="getModel().getTasks()"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div
      *ngFor="let task of getModel().getTasks()"
      class="task-list-item list-item block transparent-border"
      (click)="openDetails(task)"
      cdkDrag
    >
      <ng-container
        [ngTemplateOutlet]="task_item"
        [ngTemplateOutletContext]="{ $implicit: task }"
      ></ng-container>
    </div>
    <inserting-template (acceptEvent)="addNewTask($event)"></inserting-template>
  </div>

  <button
    class="create-button"
    (click)="openInserting()"
    *ngIf="
      getModel().getProject().getId() != null &&
      !isInsertingOpen() &&
      getModel().isActiveTaskType()
    "
  >
    Dodaj zadanie
  </button>
</div>

<ng-template #filter_container>
  <div class="filter-group">
    <label class="filter-label">Ważne</label>
    <input
      class="filter-value"
      type="checkbox"
      [checked]="getFiltering().getFilter().isImportant()"
      (change)="getFiltering().getFilter().setImportant($event.target.checked)"
    />
  </div>

  <div class="filter-group">
    <label class="filter-label">Z datą zakończenia</label>
    <input
      class="filter-value"
      type="checkbox"
      [checked]="getFiltering().getFilter().isWithEndDate()"
      (change)="
        getFiltering().getFilter().setWithEndDate($event.target.checked)
      "
    />
  </div>

  <div class="filter-group">
    <label class="filter-label">Stan</label>
    <select
      class="filter-value"
      [ngModel]="getFiltering().getFilter().getStatus()"
      (ngModelChange)="getFiltering().getFilter().setStatus($event)"
    >
      <option [ngValue]="null">Wszystkie</option>
      <option [ngValue]="status.STARTED">Aktywne</option>
      <option [ngValue]="status.ENDED">Zakończone</option>
      <option [ngValue]="status.AWAITING">Oczekujące</option>
      <option [ngValue]="status.CANCELED">Zakończone</option>
    </select>
  </div>

  <div class="filter-group">
    <label class="filter-label">Etap</label>
    <select
      class="filter-value"
      [ngModel]="getFiltering().getFilter().getStage()"
      (ngModelChange)="getFiltering().getFilter().setStage($event)"
    >
      <option [ngValue]="null">Wszystkie</option>
      <option
        *ngFor="let stage of getModel().getProject().getStages()"
        [ngValue]="stage"
      >
        {{ stage.getName() }}
      </option>
    </select>
  </div>

  <div class="filter-group">
    <label class="filter-label">Etykieta</label>

    <select
      class="filter-value"
      [ngModel]="getFiltering().getFilter().getLabel()"
      (ngModelChange)="getFiltering().getFilter().setLabel($event)"
    >
      <option [ngValue]="null">Wszystkie</option>
      <option
        *ngFor="let label of getFiltering().getModel().getLabels()"
        [ngValue]="label"
      >
        {{ label.getName() }}
      </option>
    </select>
  </div>

  <div class="filter-buttons-container">
    <button class="simple-button" (click)="getFiltering().clearFilter()">
      Wyczyść
    </button>
    <button class="simple-button" (click)="getFiltering().searchFilter()">
      Szukaj
    </button>
  </div>
</ng-template>

<ng-template #task_item let-task>
  <input
    type="checkbox"
    class="task-checkbox"
    [checked]="getItem().isTaskDone(task)"
    (change)="getItem().setTaskStatus(task, $event.target.checked)"
    (click)="getItem().checkBoxClick($event)"
  />
  <div class="task-main">
    <div class="list-item-top">
      <div class="list-item-value">{{ task.getName() }}</div>
      <mat-icon
        [ngClass]="{
          'important-star': task.isImportant(),
          'not-important-star': !task.isImportant(),
          star: true
        }"
        (click)="getItem().toggleTaskImportance(task, $event)"
        >star</mat-icon
      >
    </div>
    <div class="task-info">
      <div class="labels-container">
        <div *ngFor="let label of task.getLabels()" class="label-element">
          {{ label.getName() }}
        </div>
      </div>

      <div class="task-info-icon">
        <ng-container
          [ngTemplateOutlet]="task_details"
          [ngTemplateOutletContext]="{ $implicit: task }"
        ></ng-container>
      </div>
    </div>
  </div>
  <ng-container
    [ngTemplateOutlet]="item_options"
    [ngTemplateOutletContext]="{ $implicit: task }"
  ></ng-container>
</ng-template>

<ng-template #task_details let-task>
  <div
    *ngIf="task.getDescription() != null"
    class="tasks-info-element"
    tooltip="{{ task.getDescription() }}"
    autoplacement="true"
    placement="bottom"
  ></div>

  <div
    *ngIf="task.getEndDate() != null"
    class="tasks-info-element"
    tooltip="{{ getInfo().getEndDateText(task) }}"
    autoplacement="true"
    placement="bottom"
  ></div>

  <div *ngIf="task.getPriority() != null" class="tasks-info-element">
    {{ getInfo().getPriorityText(task) }}
  </div>

  <div
    *ngIf="task.getSubtasks().length != 0"
    class="tasks-info-element"
    tooltip="{{ getInfo().getSubtasksList(task) }}"
    autoplacement="true"
    placement="bottom"
  >
    {{ task.getNumberOfSubtaskWithStatus(status.ENDED) }} /
    {{ task.getSubtasks().length }}
  </div>
</ng-template>

<ng-template #item_options let-task>
  <span
    class="list-item-options"
    (click)="menuClick($event, task)"
    [matMenuTriggerFor]="menu"
  >
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDetails(task)">
        Edytuj
      </button>
      <button mat-menu-item (click)="removeTask(task)">
        Usuń
      </button>

      <button mat-menu-item (click)="setActiveTask(task)"
      *ngIf="!isActiveTask(task)">
        Ustaw jako aktywne
      </button>

      <button mat-menu-item (click)="removeActiveTask()"
      *ngIf="isActiveTask(task)">
        Usuń jako aktywne zadanie
      </button>

      <button mat-menu-item (click)="finishTask(task)">
        Zakończ zadanie
      </button>
    </mat-menu>
    ...
  </span>
</ng-template>
