#projects-list{
    border: 1px solid black;
    background-color: aqua;
    height: 100%;
    padding: 5px;
}

.project{
    border: 1px solid trainsparent;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    background-color: aqua;
}

.project:hover .project-menu-button{
    visibility: visible;
}

.project-name{
    width: 100%;
    display: inline;
}

.project:hover{
    cursor: pointer;
    background-color: aquamarine;
}

.project-menu-button{
    border: 1px solid black;
    width: fit-content;
    visibility: collapse;   
}

.project-menu-button:hover{
    cursor: pointer;
}

.projects-container{
    display: flex;
    /* display: inline-flex; */
    background-color: brown;
    flex-direction: column;
    /* TODO: przerobić to w jakiś sposób, aby  */
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#project-filter{
    margin: 10px;
    height: 2em;
}

.project-add-button{
    margin: 10px;
    height: 3em;
    border-radius: 8px;
}

.selected{
    border: 1px solid black;
    background-color: dodgerblue;
}