<div id="main">
    <app-projects id="projects" [hidden]="!projectsOpen" 
    (editEmitter)='openProjectDetails($event)'
    (loadEmitter)="loadTasks($event)"></app-projects>
    
    <app-project-details id='project-details' [hidden]='!projectsDetailsOpen'
    (closeEmitter)='closeProjectDetails()'
    (saveEmitter)='afterSaveProject($event)'></app-project-details>
    <app-tasks id='tasks' [hidden]='!tasksOpen'>
        <div>Dawaj moje ciastka</div>
    </app-tasks>
    <app-task-details id="task-details" [hidden]='!tasksDetailsOpen'></app-task-details>
</div>

