.main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top:40px;
}

#projects{

}

#project-details{

}

#tasks{

}

#task-details{

}

#work-space{
  width: 100%;
}

#pomodoro{
    min-width: 300px;
}

.top-actionbar{
    display: flex;
    position: absolute;
    margin-right: 10px;
    height: 40px;
    width:100%;
}

.work-model-switch{
    display: flex;

}

.toolbar{
    display: flex;
    align-self: flex-end;

    margin-left: auto;
    margin-right:0;

}

.toolbar-button{
    height: 40px;
    margin: 0;
}

/* TODO: może jakoś zmienić nazwę */
.right{
    float: right;
}

.timer{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
