<div class="main">
    <div class="top-actionbar">
        <div class="work-modes-switch">
            <button class="button toolbar-button" (click)="openProject(null,taskMode.LIST)">Lista</button>
            <button class="button toolbar-button" (click)="openProject(null,taskMode.KANBAN)">Tablica</button>
        </div>
        <div class="toolbar">
            <div class="timer">{{pomodoroTime}}</div>
            <button class="button toolbar-button" (click)="togglePomodoroOpen()">Licznik</button>
            <button class="button toolbar-button" (click)="openLabelsManager()">Etykiety</button>
        </div>
    </div>

    <div class="app-content">

        <div #listSpace>
            <app-projects id="projects" [hidden]="!projectsOpen"
                (editEvent)='openProjectDetails($event)'
                (loadEvent)="openProject($event, null)"
                (removeEvent)="onRemoveSelectedProject($event)"
                (listEvent)="onSpecialListCLick($event)"
                (kanbanEvent)="openProject($event, taskMode.KANBAN)">

            </app-projects>
        </div>

        <div #listDetailsSpace>
            <app-project-details id='projects-details' [hidden]='!projectsDetailsOpen'
                (closeEvent)='closeProjectDetails()'
                (saveEvent)='onCreateProject($event)'
                (updateEvent)="onUpdateProject($event)"
                (editStageEvent)="onEditProjectStage($event)">
            </app-project-details>

            <app-stage-details id="stage-details" [hidden]="!stageDetailsOpen"
                (closeEvent)="closeStageDetails()"
                (updateEvent)="onUpdateStage($event)">
            </app-stage-details>
        </div>

        <div #workSpace>
            <app-tasks id='tasks' [hidden]='!tasksOpen'
                (detailsEvent)="openTaskDetails($event)"
                (removeEvent)="onRemoveTask($event)"
                (pomodoroEvent)="addTaskToPomodoro($event)">
            </app-tasks>

            <app-kanban id="kanban" [hidden]="!kanbanOpen"
                (closeEvent)="closeKanban()"
                (pomodoroEvent)="addTaskToPomodoro($event)"
                (detailsEvent)="openTaskDetails($event)">
            </app-kanban>
        </div>

        <div #workDetailsSpace>
            <app-task-details id="task-details" [hidden]='!tasksDetailsOpen'
                (closeEvent)="closeTaskDetails()"
                (saveEvent)="onCreateTask($event)"
                (openLabelsEvent)="openLabelsManager()">
            </app-task-details>
        </div>

        <div #sidebarSpace>
            <app-labels id="labels" [hidden]="!labelsOpen"
                (closeEvent)="closeLabelsManager()"
                (updateEvent)="onLabelsUpdate()">
            </app-labels>

            <app-pomodoro id="pomodoro" [hidden]="!pomodoroOpen"
                (tickEvent)="setPomodoroTime($event)">
            </app-pomodoro>
        </div>

    </div>

</div>

