#main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#projects{
    width: 30%;
    max-width: 30%;
    min-width: 10%;
}

#project-details{
    width: 50%;
}

#tasks{
    width: 50%;
}

#task-details{
    width: 50%;
}