<div id="main">
    <app-projects id="projects" [hidden]="!projectsOpen" 
    (editEvent)='openProjectDetails($event)'
    (loadEvent)="loadTasks($event)"
    (removeEvent)="onRemoveSelectedProject($event)"></app-projects>
    
    <app-project-details id='projects-details' [hidden]='!projectsDetailsOpen'
    (closeEvent)='closeProjectDetails()'
    (saveEvent)='onCreateProject($event)'
    (updateEvent)="onUpdateProject($event)"
    ></app-project-details>
    
    <app-tasks id='tasks' [hidden]='!tasksOpen'
    (details)="openTaskDetails($event)"
    (removeEvent)="onRemoveTask($event)"></app-tasks>

    <app-task-details id="task-details" [hidden]='!tasksDetailsOpen'
    (closeEvent)="closeTaskDetails()"
    (saveEvent)="onCreateTask($event)"
    (openLabelsEvent)="openLabelsManager()"></app-task-details>

    <app-labels id="labels" [hidden]="!labelsOpen"
    (closeEvent)="closeLabelsManager()"
    (updateEvent)="onLabelsUpdate()"></app-labels>
</div>

