<div class="list-panel">
  <h4 class="panel-header">Listy</h4>
  <!-- TODO: zrobić sposób zaznaczania specjalnych list -->
  <div class="list">
    <div [ngClass]="{'selected-list-item': false,
                'project-list-item': true}"
                (click)='openList(type.IMPORTANT)'>
    <div class="list-item-value">Ważne</div>
  </div>

  <div [ngClass]="{'selected-list-item': false,
                'project-list-item': true
                }"
                (click)='openList(type.TODAY)'>
    <div class="list-item-value">Dzisiaj</div>
  </div>
  </div>


</div>
