@import '../../../../styles.css';

/* TODO: poprzenosić to jakoś  */
.projects-view{
    display: flex;
    /* display: inline-flex; */
    flex-direction: column;
    /* TODO: przerobić to w jakiś sposób, aby  */
    /* height: 100%;
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px; */
}

#projects-list{
    height: 100%;

}

.projects-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.expansion-list-header{
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
}

.expansion-list-header:hover{
    cursor: pointer;
}

.list-header-name{
    width: 100%;
    height: fit-content;
}

.hidden-list{
    height: fit-content;
}

.project-name{
    width: 100%;
    display: inline;
}

.project:hover{
    cursor: pointer;
}

.project:focus{
    cursor: pointer;
}

.project-menu-button{
    border: 1px solid black;
    width: fit-content;
    visibility: collapse;
}

.project-menu-button:hover{
    cursor: pointer;
}
.project-menu-button:focus{
    visibility: visible;
}



.project-filter{
    padding-left: 10px;
    height: 2em;
}

.mat-menu-item{
    font-size: small;
    height: 30px;
    line-height: 30px;
}

.expansion-icon{
    background-image: url('../../../../assets/icons/arrow-down-icon.png');
}

mat-icon{
    height: 5px;;
}







