<div class="kanban-view shadow app-panel" *ngIf="isOpen()">
  <div class="columns-container">
    <div
      class="kanban-columns"
      cdkDropList
      #columnsList="cdkDropList"
      [cdkDropListData]="getModel().getColumns()"
      (cdkDropListDropped)="columnDrop($event)"
      cdkDropListOrientation="horizontal"
    >
      <ng-container *ngFor="let column of getModel().getColumns()">
        <div class="column" cdkDrag [hidden]="column.default">
          <div class="column-header">
            <div
              class="column-name"
              *ngIf="getModel().getEditedColumn() != column"
            >
              {{ column.name }}
            </div>
            <input
              class="column-name"
              id="column-name-{{ column.id }}"
              *ngIf="getModel().getEditedColumn() == column"
              [ngModel]="getModel().getColumnName()"
              (ngModelChange)="getModel().setColumnName($event)"
              (keyup)="handleEditingColumn($event)"
            />
            <ng-template
              [ngTemplateOutlet]="column_options"
              [ngTemplateOutletContext]="{ $implicit: column }"
            ></ng-template>
          </div>
          <div
            class="column-content"
            id="{{ getModel().getColumnIdText(column) }}"
            cdkDropList
            #column.getId().toString()="cdkDropList"
            [cdkDropListData]="getModel().getTasks(column)"
            [cdkDropListConnectedTo]="getModel().getColumnsNames()"
            (cdkDropListDropped)="taskDrop($event)"
          >
            <div
              cdkDrag
              *ngFor="let kanbanTask of getModel().getTasks(column)"
              class="task-list-item list-item block"
            >
              <ng-container
                [ngTemplateOutlet]="task_item"
                [ngTemplateOutletContext]="{ $implicit: kanbanTask }"
              ></ng-container>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="new_task"
            [ngTemplateOutletContext]="{ $implicit: column }"
          ></ng-container>
        </div>
      </ng-container>
      <ng-container [ngTemplateOutlet]="new_column"></ng-container>
    </div>

    <div class="default-column-container">
      <div
        class="column"
        id="default-column"
        *ngIf="isDefaultColumnOpen() && getModel().getDefaultColumn()"
      >
        <div class="column-x">
          <div class="column-header">
            <span class="column-name">{{
              getModel().getDefaultColumn().name
            }}</span>
            <button (click)="toggleOpenDefautlColumn()">></button>
          </div>
          <div
            class="column-content"
            id="{{ getModel().getColumnIdText(getModel().getDefaultColumn()) }}"
            cdkDropList
            #getModel().getDefaultColumn().getId().toString()="cdkDropList"
            [cdkDropListData]="
              getModel().getTasks(getModel().getDefaultColumn())
            "
            [cdkDropListConnectedTo]="getModel().getColumnsNames()"
            (cdkDropListDropped)="taskDrop($event)"
          >
            <div
              cdkDrag
              *ngFor="
                let kanbanTask of getModel().getTasks(
                  getModel().getDefaultColumn()
                )
              "
              class="task-list-item list-item block"
            >
              <ng-container
                [ngTemplateOutlet]="task_item"
                [ngTemplateOutletContext]="{ $implicit: kanbanTask }"
              ></ng-container>
            </div>
          </div>
        </div>

        <ng-container
          [ngTemplateOutlet]="new_task"
          [ngTemplateOutletContext]="{
            $implicit: getModel().getDefaultColumn()
          }"
        ></ng-container>
      </div>
      <div class="default-column-sidebar" *ngIf="!isDefaultColumnOpen()">
        <button (click)="toggleOpenDefautlColumn()"><</button>
      </div>
    </div>
  </div>
</div>

<ng-template #new_kanban_task let-column>
  <input
    type="text"
    class="form-control"
    id="new_task_input_{{ column.getId() }}"
    autocomplete="off"
    (keyup)="handleAddingNewTask($event)"
    [ngModel]="getModel().getNewTaskName()"
    (ngModelChange)="getModel().setNewTaskName($event)"
  />
  <div class="buttons-container">
    <button
      class="button small-button insert-button"
      id="save-kanban-task-button"
      (click)="addTask(column)"
    >
      Zapisz
    </button>
    <button
      class="button small-button insert-button"
      id="cancel-kanban-task-button"
      (click)="closeAddingNewTask()"
    >
      Anuluj
    </button>
  </div>
</ng-template>

<ng-template #task_item let-kanban_task>
  <div class="task-main">
    <div class="list-item-top">
      <div class="list-item-value">{{ kanban_task.getName() }}</div>
    </div>
    <ng-container
      [ngTemplateOutlet]="task_labels"
      [ngTemplateOutletContext]="{ $implicit: kanban_task.getTask() }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="task_details"
      [ngTemplateOutletContext]="{ $implicit: kanban_task.getTask() }"
    ></ng-container>
  </div>
  <ng-container
    [ngTemplateOutlet]="item_options"
    [ngTemplateOutletContext]="{ $implicit: kanban_task }"
  ></ng-container>
</ng-template>

<ng-template #new_task let-column>
  <div class="add-task-container">
    <div *ngIf="getModel().getAddingTaskOpen() == column">
      <ng-container
        [ngTemplateOutlet]="new_kanban_task"
        [ngTemplateOutletContext]="{ $implicit: column }"
      ></ng-container>
    </div>
    <button
      class="column-add-button"
      *ngIf="getModel().getAddingTaskOpen() != column"
      (click)="onAddKanbanTaskClick(column)"
    >
      Dodaj zadanie
    </button>
  </div>
</ng-template>

<ng-template #task_labels let-task>
  <div *ngFor="let label of task.getLabels()" class="label-item border">
    {{ label.getName() }}
  </div>
</ng-template>

<ng-template #task_details let-task>
  <div class="task-detauls-container">
    <div
      *ngIf="task.getDescription() != null"
      class="task-description-icon info-icon"
      tooltip="{{ task.getDescription() }}"
      autoplacement="true"
      placement="bottom"
    ></div>

    <div
      *ngIf="task.getEndDate() != null"
      class="task-enddate-icon info-icon"
      tooltip="{{ getInfo().getEndDateText(task) }}"
      autoplacement="true"
      placement="bottom"
    ></div>

    <div
      *ngIf="task.getPriority() != null"
      class="task-priority-icon info-icon"
    >
      {{ getInfo().getPriorityText(task) }}
    </div>

    <div
      *ngIf="task.getSubtasks().length != 0"
      class="info-icon task-subtask"
      tooltip="{{ getInfo().getSubtasksList(task) }}"
      autoplacement="true"
      placement="bottom"
    >
      {{ task.getNumberOfSubtaskWithStatus(status.ENDED) }} /
      {{ task.getSubtasks().length }}
    </div>
  </div>
</ng-template>

<ng-template #column_options let-column>
  <div
    class="list-item-options"
    (click)="(null)"
    [matMenuTriggerFor]="column_menu"
  >
    <mat-menu #column_menu="matMenu">
      <button mat-menu-item (click)="onColumnEdit(column)">
        Edytuj
      </button>
      <button mat-menu-item (click)="onColumnRemove(column)">
        Usuń
      </button>
    </mat-menu>
    ...
  </div>
</ng-template>

<ng-template #item_options let-kanban_task>
  <div
    class="list-item-options"
    (click)="(null)"
    [matMenuTriggerFor]="task_menu"
  >
    <mat-menu #task_menu="matMenu">
      <button mat-menu-item (click)="openDetails(kanban_task)">
        Edytuj
      </button>
      <button mat-menu-item (click)="removeTask(kanban_task)">
        Usuń
      </button>
      <button
        mat-menu-item
        (click)="setCurrentTask(kanban_task)"
        *ngIf="!isCurrentTask(kanban_task)"
      >
        Ustaw jako aktywne zadanie
      </button>
      <button
        mat-menu-item
        (click)="removeCurrentTask()"
        *ngIf="isCurrentTask(kanban_task)"
      >
        Usuń aktywne zadanie
      </button>
      <button
        mat-menu-item
        (click)="finishTask(kanban_task)"
        *ngIf="kanban_task.getTask().getStatus() != status.ENDED"
      >
        Zakończ zadanie
      </button>
    </mat-menu>
    ...
  </div>
</ng-template>

<ng-template #new_column>
  <div class="column">
    <button
      class="column-add-button"
      (click)="getModel().openAddingColumn()"
      *ngIf="
        getModel().getProject().id != null && !getModel().isAddingOpen()
      "
    >
      Dodaj kolumne
    </button>
    <div *ngIf="getModel().isAddingOpen()">
      <input
        id="new-column-input"
        class="add-column-input"
        autocomplete="off"
        (keyup)="handleAddingNewColumn($event)"
        [ngModel]="getModel().getColumnName()"
        (ngModelChange)="getModel().setColumnName($event)"
      />
      <div class="valid-error" *ngIf="!getModel().isColumnNameValid()">
        Nazwa nie może być pusta
      </div>
      <div class="buttons-container">
        <button
          class="button small-button insert-button"
          id="save-subtask-button"
          (click)="addColumn()"
        >
          Dodaj
        </button>
        <button
          class="button small-button insert-button"
          id="cancel-subtask-button"
          (click)="getModel().closeAdddingColumn()"
        >
          Anuluj
        </button>
      </div>
    </div>
  </div>
</ng-template>
