@import '../../../styles.css';


#side-container{
  display: flex;
}

#side-space{
  position: absolute;
  right: 48px;
  z-index: 2;
  background: white;
  height: 100%;
}

.side-header{
  display: flex;
}
