.settings{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: aliceblue;
  z-index: 2;
}

.settings-group{
  height: auto;
  display: flex;
}

.settings-label{
  font-size: small;
  width: 100%;
}

.settings-value{
  float: right;
  width: 40%;
  max-width: 150px;
  text-align: right;
}
