<div class="settings"  *ngIf="service.settings, let settings">

  <div class="settings-group">
      <label class="settings-label">Czas pracy</label>
      <input type="number" class="settings-value"
      [ngModel]="settings.workTime" (ngModelChange)="settings.workTime = $event"
      (change)="service.updateSettings()">
  </div>

  <div class="settings-group">
      <label class="settings-label">Czas krótkiej przerwy</label>
      <input type="number" class="settings-value"
      [ngModel]="settings.shortBreakTime" (ngModelChange)="settings.shortBreakTime = $event"
      (change)="service.updateSettings()">
  </div>

  <div class="settings-group">
      <label class="settings-label">Czas długiej przerwy</label>
      <input type="number" class="settings-value"
      [ngModel]="settings.longBreakTime" (ngModelChange)="settings.longreakTime =$event"
      (change)="service.updateSettings()">
  </div>

  <div class="settings-group">
      <label class="settings-label">Interwał</label>
      <input type="number" class="settings-value"
      [ngModel]="settings.interval" (ngModelChange)="settings.interval = $event"
      (change)="service.updateSettings()">
  </div>

  <div class="settings-group">
    <label class="settings-label">Automatycznie uruchom następną runde</label>
    <select class="settings-value" [ngModel]="settings.runNextState" (ngModelChange)="settings.runNextState = $event" (change)="service.updateSettings()">
      <option [ngValue]="stateControl.NO">Nie</option>
      <option [ngValue]="stateControl.WORK">Tylko pracę</option>
      <option [ngValue]="stateControl.BREAK">Tylko przerwy</option>
      <option [ngValue]="stateControl.ALL">Wszystko</option>
    </select>
  </div>

  <div class="settings-group">
    <label class="settings-label">Kontynuuj po zakończeniu etapu</label>
    <select class="settings-value" [ngModel]="settings.continueState" (ngModelChange)="settings.continueState = $event" (change)="service.updateSettings()">
      <option [ngValue]="stateControl.NO">Nie</option>
        <option [ngValue]="stateControl.WORK">Tylko pracę</option>
        <option [ngValue]="stateControl.BREAK">Tylko przerwy</option>
        <option [ngValue]="stateControl.ALL">Wszystko</option>
    </select>
  </div>

  <div class="settings-group">
    <label class="settings-label">Zapisuj statystyki</label>
    <select class="settings-value" [ngModel]="settings.saveStatistics" (ngModelChange)="settings.saveStatistics = $event" (change)="service.updateSettings()">
      <option [ngValue]="settingsAnswer.YES">Tak</option>
      <option [ngValue]="settingsAnswer.NO">Nie</option>
      <option [ngValue]="settingsAnswer.ASK">Pytaj</option>
    </select>
  </div>

  <div class="settings-group">
    <label class="settings-label">Zapisuj statystyki po przerwaniu rundy</label>
    <select class="settings-value" [ngModel]="settings.saveStatisticsAfterStop" (ngModelChange)="settings.saveStatisticsAfterStop = $event" (change)="service.updateSettings()">
      <option [ngValue]="settingsAnswer.YES">Tak</option>
      <option [ngValue]="settingsAnswer.NO">Nie</option>
      <option [ngValue]="settingsAnswer.ASK">Pytaj</option>
    </select>
  </div>

  <div class="settings-group">
    <label class="settings-label">Zapisuj przerwy</label>
    <select class="settings-value" [ngModel]="settings.saveBreakStage" (ngModelChange)="settings.saveBreakStage = $event" (change)="service.updateSettings()">
      <option [ngValue]="true">Tak</option>
      <option [ngValue]="false">Nie</option>
    </select>
  </div>

  <div class="settings-group">
    <label class="settings-label">Pozwól na dodawanie czasu</label>
    <select class="settings-value" [ngModel]="settings.allowAddingTime" (ngModelChange)="settings.allowAddingTime = $event" (change)="service.updateSettings()">
      <option [ngValue]="true">Tak</option>
      <option [ngValue]="false">Nie</option>
    </select>
  </div>
</div>
