<div id="lists-container">
  <div id="list-side-container">
    <ul class="lists-options">
      <li [ngClass]="{
        'active-side-item': listType==type.SPECIAL,
        'action-item':true
      }">
        <div class="badge" *ngIf="listType==type.SPECIAL"></div>
        <a class="action-label" (click)="openLists(type.SPECIAL)">S</a>
      </li>

      <li [ngClass]="{
        'active-side-item': listType==type.PROJECTS,
        'action-item':true
      }">
        <div class="badge" *ngIf="listType==type.PROJECTS"></div>
        <a class="action-label" (click)="openLists(type.PROJECTS)">P</a>
      </li>
    </ul>
  </div>

  <div class="list-space">
    <app-projects id="projects" [hidden]="listType!=type.PROJECTS"></app-projects>
    <app-special-lists id="special-lists" [hidden]="listType!=type.SPECIAL"></app-special-lists>
  </div>
</div>

