
@import '../../../../styles.css';

.form{
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.label-item{
    padding: 3px;
    border: 1px solid black;
    display: flex;
    margin: 2px;
}

.labels-list{
    display:flex;
}

.remove-label{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: blue;
}

.remove-label:hover{
    cursor:pointer;
}

.subtask-checkbox-icon{
    background-color: aqua;
}

.subtask-done-icon{
    background-color: brown;
}

.subtask-icon{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 2px;
}

.subtask-item{
    display: flex;
}

.subtask-name{
    width: 100%;
    font-size: 1.2em;
    padding: 3px;
    cursor: default;
}

.edit-subtask{
    /* TODO: ustawić ikonę */
    /* background-color: yellowgreen; */
}

.remove-subtask{
    /* TODO: ustawić ikonę */
    /* background-color: yellow; */
}

.subtask-item-buttons{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}


.button{
    cursor: pointer;
}

.checkbox{
    cursor: pointer;
}

/* TODO: spróbować zrozumieć, dlaczego to nie chce działać po umieszczeniu w styles.css */
.form-group-header{
    padding: 5px!important;
    height: auto!important;
}

.mat-content{
    font-size: medium;
}

.star{
    width: fit-content;
    height: fit-content;
    font-size: 2.7em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    /* TODO: zrobić kształt gwiazdki */
}

.star:hover{
    cursor: pointer;
}

.important-star{
    color: gold;
}

.not-important-star{
    color:slategray;
}


