@import '../../../../styles.css';


.project-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

.project-form{
    height: 100%;
    overflow: auto;
}

/* TODO: te same style są w tesk-details.component.css. Spróbować przenieść to do styles.css */


.mat-content{
    font-size: medium;
    padding:10px;
}

/* .mat-expanded, .mat-content{
    font-size: small;
    padding: 5px;
} */

/* TODO: przenieść to do wspólnego stylu. Taki sam styl jest w tasks.components */
.stage-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* TODO: to też przenieść */
.stage-list-item{
    display: flex;
}

/* TODO: to po małych przeróbkach też może być wrzucone */
.stage-info-icons{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;

}
