<div class="app-panel shadow">

  <!-- TODO: zrobić sposób zaznaczania specjalnych list -->
  <div [ngClass]="{'selected-list-item': false,
                'project': true,
                'list-item':true,
                'transparent-border':true}"
                (click)='openList(type.IMPORTANT)'>
    <div class="list-item-value">Ważne</div>
  </div>

  <div [ngClass]="{'selected-list-item': false,
                'project': true,
                'list-item':true,
                'transparent-border':true}"
                (click)='openList(type.TODAY)'>
    <div class="list-item-value">Dzisiaj</div>
  </div>

</div>
