<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="day-scheduler.component.css" />
  </head>
  <body>
    <div class="shadow app-panel">
      <select (change)="changeScale($event)">
        <option [value]="100" default>100%</option>
        <option [value]="200">200%</option>
        <option [value]="300">300</option>
        <option [value]="400">400%</option>
      </select>

      <div class="day-schedule-view">
        <ul class="hour-column">
          <li
            *ngFor="let hour of hours"
            [style.height.px]="hour.height"
            [ngClass]="{
              'upper-hour-cell': hour.mainHour,
              'bottom-hour-cell': !hour.mainHour && !hour.lastHour,
              'last-task-cell': hour.lastHour,
              'hour-cell': true
            }"
          >
            <div *ngIf="hour.mainHour">
              {{ hour.time }}
            </div>
          </li>
        </ul>

        <ul class="task-column" cdkDropListGroup #dropGroup>
          <li
            *ngFor="let hour of hours"
            cdkDropList
            [id]="hour.time"
            #hour.time="cdkDropList"
            [cdkDropListData]="hour.tasks"
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListSortingDisabled]="true"
            [style.height.px]="hour.height"
            (dragover)="dragover($event, hour)"
            [ngClass]="{
              'upper-task-cell': hour.mainHour,
              'bottom-task-cell': !hour.mainHour && !hour.lastHour,
              'last-task-cell': hour.lastHour,
              'task-cell': true
            }"
          >
            <div
              *ngFor="let t of hour.tasks"
              class="task"
              [id]="'task_'+ t.task.getId()"
              #t.task.getId()="cdkDrag"
              cdkDrag
              cdkDragBoundary=".task-column"
              [cdkDragDisabled]="isMoveTaskDisabled()"
              [style.height.px]="t.size"
              [style.z-index]="t.position"
              [style.top.px]="t.offset"
            >
            <div [id]="'top_handler_'+t.task.getId()" cdkDragLockAxis="y" class="dragHandle top" cdkDrag (cdkDragMoved)="dragMove($event, t)"></div>
            <!-- <div #dragHandleTop draggable="true" class="dragHandle top" (drag)="drag($event)" (mouseenter)="resizeMouseEnter()" (mouseleave)="resizeMouseExit()" (dragstart)="resizeStart($event)" (dragend)="resizeEnd($event)" (mousedown)="resizeStart($event)"></div> -->
            <div class="task-name">{{ t.task.getName() }} </div>
            <!-- <div #dragHandleBottom draggable="true" class="dragHandle bottom" (drag)="drag($event)" (mouseenter)="resizeMouseEnter()" (mouseleave)="resizeMouseExit()" (dragstart)="resizeStart($event)" (dragend)="resizeEnd($event)" (mousedown)="resizeStart($event)"></div> -->
            <div [id]="'bottom_handler_' + t.task.getId()" cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag (cdkDragMoved)="dragMove($event, t)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExited($event)" ></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
