.task-list{
  width: 100%;
}

.mode-buttons{
  float: right;
}

.toolbar-button{
  width: 30px;
  height: 30px;
}

.tasks-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tasks-container-list{
  height: 100%;
}
