<div class="container-view">
  <div class="tasks-header">
    <span class="project-name">{{ getProjectName() }}</span>
    <span class="mode-buttons">
      <div class="icon-button" (click)="changeTaskMode(taskMode.LIST)">L</div>
      <div class="icon-button" (click)="changeTaskMode(taskMode.KANBAN)">K</div>
      <div class="icon-button" (click)="changeTaskMode(taskMode.CALENDAR)">C</div>
      <div class="icon-button" (click)="changeTaskMode(taskMode.DAY_SCHEDULE)">D</div>
    </span>
  </div>

  <app-tasks class="task-list" [hidden]="mode != taskMode.LIST"> </app-tasks>
  <app-kanban class="task-list" [hidden]="mode != taskMode.KANBAN"> </app-kanban>

  <app-calendar class="task-list" [hidden]="mode != taskMode.CALENDAR"> </app-calendar>

  <day-schedule class="task-list" [hidden]="mode != taskMode.DAY_SCHEDULE"></day-schedule>
</div>
