@import '../../../styles.less';

@headerHeight:30px;

.tasks-header{
  height: @headerHeight;
}

.task-list{
  width: 100%;
  height: calc(100% - @headerHeight);
}

.mode-buttons{
  float: right;
  .horizontal-container;
}

.tasks-container-list{
  width: 100%;
}
