<!-- <h3>{{getProject().getName()}}</h3> -->
<div class="project-details">
    <form class="project-form">

        <mat-expansion-panel [expanded]='true'>
            <mat-expansion-panel-header>
                Nazwa
            </mat-expansion-panel-header>
            <input type="text" class="form-control" id="project-name" name='name'
            [ngModel]='project.getName()' (ngModelChange)="project.setName($event)">
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="project.getDescription()!=null">
            <mat-expansion-panel-header>
                Opis
            </mat-expansion-panel-header>
            <textarea class="form-control" id="project-description" name="description"
            [ngModel]='project.getDescription()' (ngModelChange)="project.setDescription($event)"></textarea>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                Typ
            </mat-expansion-panel-header>
            <!-- TODO: dorobić zapisywanie -->
            <select class="form-control" id="project-type" name="type"
            [ngModel]='(getType())'>
                <option value="default">Nieokreślony</option>
                <option value="small">Mały</option>
                <option value="medium">Średni</option>
                <option value="big">Duży</option>
            </select>
        </mat-expansion-panel>
    
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                Stan
            </mat-expansion-panel-header>
            <!-- TODO: dorobić zapisywanie -->
            <select class="form-control" id="project-status" name="status"
            [ngModel]='getStatus()'>
                <option value="started">Aktywny</option>
                <option value="ended">Zakończony</option>
                <option value="canceled">Anulowany</option>
                <option value="awaiting">Oczekujący</option>
            </select>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="project.getStartDate()!=null">
            <mat-expansion-panel-header>
                Data początkowa
            </mat-expansion-panel-header>
            <div class="datepicker-container">
                <input class='form-control' id="project-start-date" name="start-date" [matDatepicker]="startDatePicker"  
                [ngModel]='project.getStartDate()' (ngModelChange)="project.setStartDate($event)">
                <mat-datepicker-toggle [for]="startDatePicker" class='datepicker'></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </div>  
        </mat-expansion-panel>
    
        <mat-expansion-panel [expanded]="project.getEndDate()!=null">
            <mat-expansion-panel-header>
                Data końcowa
            </mat-expansion-panel-header>
            <div class="datepicker-container">
                <input matInput class='form-control' id="pproject-end-date" name="end-date" [matDatepicker]="endDatePicker"
                [ngModel]='project.getEndDate()' (ngModelChange)="project.setEndDate($event)">
                <mat-datepicker-toggle [for]="endDatePicker" class="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </div>  
        </mat-expansion-panel>

    </form>
    <div class="buttons-section">
        <button class="button form-button" id="close-button" (click)='close()'>Zamknij</button>
        <button class="button form-button" id="save-button" (click)='save()'>Zapisz</button>
    </div>
</div>
