.project-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.form-group{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-label{
    display: block;
}

.form-control{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
}

#description{
    height: 5em;
}

.datepicker-container{
    display: flex;
}

.form-button{
    margin: 10px;
    height: 3em;
    width: 10em;
    border-radius: 8px;
    border: 1px solid black;
}

.buttons-section{
    float: right;
    margin-right: auto;
    margin-left: auto;
}

.project-form{
    margin-bottom: 0px;
    margin-top:auto;
}