<div class="app-panel shadow">
    <div class="tool-panel">
        <h3 class="panel-header">{{model.getProject().getName()}}</h3>
        <button class="button border" (click)="closeView()">X</button>
    </div>
    <form class="project-form">

        <mat-expansion-panel class="form-group" [expanded]='true'>
            <mat-expansion-panel-header class="form-group-header">
                Nazwa
            </mat-expansion-panel-header>
            <input type="text" class="form-control" id="project-name" name='name'
            [ngModel]='model.getProject().getName()' (ngModelChange)="model.getProject().setName($event)"
            (keyup.enter)="updateProject()" (focusout)="updateProject()">
            <div *ngIf="!model.isNameValid() && model.isNameChanged()"
            class="invalid-feedback">Nazwa nie może być pusta</div>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="model.getProject().getDescription()!=null">
            <mat-expansion-panel-header class="form-group-header">
                Opis
            </mat-expansion-panel-header>
            <textarea class="form-control" id="project-description" name="description" rows="4"
            [ngModel]='model.getProject().getDescription()' (ngModelChange)="model.getProject().setDescription($event)"
            (keyup.enter)="updateProject()" (focusout)="updateProject()"></textarea>
            
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="true">
            <mat-expansion-panel-header class="form-group-header">
                Typ
            </mat-expansion-panel-header>
            <select class="form-control" id="project-type" name="type"
            [ngModel]='model.getProject().getType()' (ngModelChange)="model.getProject().setType($event)"
            (change)="updateProject()">
                <option [ngValue]="projectType.DEFAULT">Nieokreślony</option>
                <option [ngValue]="projectType.SMALL">Mały</option>
                <option [ngValue]="projectType.MEDIUM">Średni</option>
                <option [ngValue]="projectType.BIG">Duży</option>
            </select>
        </mat-expansion-panel>
    
        <mat-expansion-panel class="form-group" [expanded]="true">
            <mat-expansion-panel-header class="form-group-header">
                Stan
            </mat-expansion-panel-header>
            <select class="form-control" id="project-status" name="status"
            [ngModel]='model.getProject().getStatus()' (ngModelChange)="model.getProject().setStatus($event)"
            (change)="updateProject()">
                <option [ngValue]="status.STARTED">Aktywny</option>
                <option [ngValue]="status.ENDED">Zakończony</option>
                <option [ngValue]="status.CANCELED">Anulowany</option>
                <option [ngValue]="status.AWAITING">Oczekujący</option>
            </select>
        </mat-expansion-panel>

        <mat-expansion-panel class="form-group" [expanded]="model.getProject().getStartDate()!=null">
            <mat-expansion-panel-header class="form-group-header">
                Data początkowa
            </mat-expansion-panel-header>
            <div class="datepicker-container">
                <input class='form-control' id="project-start-date" name="start-date" [matDatepicker]="startDatePicker"  
                [ngModel]='model.getProject().getStartDate()' (ngModelChange)="model.getProject().setStartDate($event)" 
                (dateChange)="updateProject()">
                <mat-datepicker-toggle [for]="startDatePicker" class='datepicker'></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </div>  
        </mat-expansion-panel>
    
        <mat-expansion-panel class="form-group" [expanded]="model.getProject().getEndDate()!=null">
            <mat-expansion-panel-header class="form-group-header">
                Data końcowa
            </mat-expansion-panel-header>
            <div class="datepicker-container">
                <input matInput class='form-control' id="pproject-end-date" name="end-date" [matDatepicker]="endDatePicker"
                [ngModel]='model.getProject().getEndDate()' (ngModelChange)="model.getProject().setEndDate($event)"
                (dateChange)="updateProject()">
                <mat-datepicker-toggle [for]="endDatePicker" class="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </div>
            <div *ngIf="!model.isEndDateValid() && model.isEndDateChanged()"
            class="invalid-feedback">Data końcowa nie może być wcześniejsza niż początkowa</div>
        </mat-expansion-panel>

    </form>
</div>
