/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    margin: 0px;
}

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.form-group{
    display: block;
    /* width: 100%; */
    /* padding: 10px; */
    box-sizing: border-box;
    border: 1px solid black;
    margin:4px;
    border-radius: 8px;
}

.form-label{
    display: block;
}

.form-control{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
}

.datepicker-container{
    display: flex;
}

#description{
    height: 5em;
}

.form{
    margin-bottom: 0px;
    margin-top:auto;
}

.form-button{
    margin: 10px;
    height: 3em;
    width: 10em;
    border-radius: 8px;
    border: 1px solid black;
}

.app-panel{
    height: 100%;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.list{
    overflow: auto;
}

.filter{
    height: 2em;
    margin-bottom: 4px;
}

.border{
    border: 1px solid black;
    /* border: 1px solid transparent; */
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.list-item{
    display: flex;
    border: 1px solid trainsparent;
    padding: 10px;
    margin: 0;
}

/* TODO: spradzić jak to rozdzielić z tym co jest wyżej */
.task-list-item{
    border: 1px solid trainsparent;
    padding: 10px;
    margin: 0;
}

.list-item-options{
    visibility: hidden;
    padding: 5px;
}

.small-list-item{
    font-size: small;
    padding: 4px;
}

.small-list-item .list-item-value{
    font-size: small;
}

.small-list-item-icon{
    display: flex;
    padding: 2px;
    font-size: small;
    /* border-radius: 4px; */
    width: 15px;
    height: 15px;
    margin: 2px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.block{
    display: block;
}

.list-item-options:hover{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

.list-item:hover{
    background-color: aliceblue;
    z-index: 100;
}

.list-item:hover .list-item-options{
    visibility: visible;
}

.list-item-value{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.selected-list-item{
    background-color: seashell;
}

.transparent-border{
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.shadow{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 3em;
    border-radius: 8px;
}

.small-button{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1.8em;
    border-radius: 8px;
}

.button:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.panel-header{
    margin-left: auto;
    margin-right: auto;;
}

.info-icon{
    display: flex;
    padding: 2px;
    font-size: small;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    width: 15px;
    height: 15px;
    background-color: aqua;
    margin: 2px;

}

.info-icon{
    cursor: default;
}

.mat-expansion-panel-body{
    padding: 5px!important;
}

.insert-button{
    float:right;
}

.form-buttons-section{
    float: right;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 0px;
}

.label-item{
    padding: 3px;
    border: 1px solid black;
    display: flex;
    margin: 2px;
}

.tooltip-list{
    list-style: none;
}

.tool-panel{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}