<div class="timer-container" *ngIf="!statisticsOpen">
    <button (click)="model.toggleSettingsOpen()">Ustawienia</button>
    <div class="settings" [hidden]="!model.isSettingsOpen()">
        <div class="settings-group">
            <label class="settings-label">Czas pracy</label>
            <input type="number" class="settings-value" 
            [ngModel]="model.getSettings().getWorkTime()" (ngModelChange)="model.getSettings().setWorkTime($event)"
            (change)="updateSettings()">
        </div>
        <div class="settings-group">
            <label class="settings-label">Czas krótkiej przerwy</label>
            <input type="number" class="settings-value"
            [ngModel]="model.getSettings().getShortBreakTime()" (ngModelChange)="model.getSettings().setShortBreakTime($event)"
            (change)="updateSettings()">
        </div>
        <div class="settings-group">
            <label class="settings-label">Czas długiej przerwy</label>
            <input type="number" class="settings-value"
            [ngModel]="model.getSettings().getLongBreakTime()" (ngModelChange)="model.getSettings().setLongBreakTime($event)"
            (change)="updateSettings()">
        </div>
        <div class="settings-group">
            <label class="settings-label">Interwał</label>
            <input type="number" class="settings-value"
            [ngModel]="model.getSettings().getInterval()" (ngModelChange)="model.getSettings().setInterval($event)"
            (change)="updateSettings()">
        </div>
    </div>

    <div class="states">
        <div *ngFor="let stateIndex of getStatesNumbers()" 
        [ngClass]="{
            'work': isWorkState(stateIndex),
            'short-break': isShortBreakState(stateIndex),
            'long-break': isLongBreakState(stateIndex),
            'current-state': isCurrentState(stateIndex),
            'state': true
        }">
            
        </div>
    </div>

    <div class="timer-panel">
        <div class="current-task"
            *ngIf="model.getCurrentTask()">
            {{model.getCurrentTask().getName()}}
        </div>
        <div class="timer-state" [ngSwitch]="model.getTimer().getState()">
            <span *ngSwitchCase="state.WORK"> PRACA </span>
            <span *ngSwitchCase="state.SHORT_BREAK"> KRÓTKA PRZERWA </span>
            <span *ngSwitchCase="state.LONG_BREAK"> DŁUGA PRZERWA </span> 
        </div>
        <div class="timer">{{model.getTimer().getTimeText()}}</div>
    
        <div class="controls">
            <!-- TODO: dodać przycisk rozpocznij przerwę -->
            <button class="button" (click)="model.getTimer().pauseTimer()"
                *ngIf="!model.getTimer().isTimerPause() && model.getTimer().isTimerRunning()">
                Pauza
            </button>
            <button class="button" (click)="model.getTimer().startTimer()"
                *ngIf="model.getTimer().isTimerPause() || !model.getTimer().isTimerRunning()">
                {{getStartButtonContent()}}
            </button>
            <button class="button" (click)="model.getTimer().stopTimer()"
                *ngIf="model.getTimer().isTimerRunning()">
                Stop
            </button>
        </div>
        <button class="button" (click)="model.getTimer().ignoreBreak()"
            *ngIf="model.isIgnoreBreakVisible()">
            Pomiń przerwę
        </button>
        <button class="button" (click)="model.getTimer().addTime()"
            *ngIf="model.isIgnoreBreakVisible()">
            Dodaj 5 minut
        </button>
    </div>
    <button (click)="openStatistics()">Otwórz statystyki</button> 
</div>

<app-pomodoro-statistics *ngIf="statisticsOpen"
    (closeEvent)="closeStatistics()">
</app-pomodoro-statistics>