<div class="labels-view">
    <h3>Etykiety</h3>
    <input id="project-filter filter" (input)='filterLabels($event.target.value)'>
    <div class="labels-list list">
        <div *ngFor="let label of model.getLabels()" class="label-item">
            <div class="label-name"
            *ngIf="model.getEditedLabel()!=label">{{label.getName()}}</div>
            <input class="label-name" [value]="label.getName()" [id]="'label-name-input-' + label.getId()"
            *ngIf="model.getEditedLabel()==label">
            <div class="edit-label label-icon" (click)="editLabel(label)"
            *ngIf="model.getEditedLabel()!=label"></div>
            <div class="remove-label label-icon" (click)="removeLabel(label)"
            *ngIf="model.getEditedLabel()!=label"></div> 
            <div class="accept-edit label-icon" (click)="acceptEditing(label)"
            *ngIf="model.getEditedLabel()==label"></div>

        </div>
    </div>
    <input type="text" class="form-control" id="label" [hidden]="!model.isLabelEditing()">
    <div class="buttons-container">
        <button class="button" id="add-label-button" [hidden]="model.isLabelEditing()"
        (click)="startAddingNewLabel()">
            Dodaj
        </button>
        <button class="button" id="cancel-label-button" [hidden]="!model.isLabelEditing()"
        (click)="cancelEditingLabel()">Anuluj</button>
        <button class="button" id="save-label-button" [hidden]="!model.isLabelEditing()"
        (click)="saveNewLabel()">Zapisz</button>
    </div>
    <button class="button form-button" id="labels-close-button" (click)='closePanel()'>Zamknij</button>

</div>