<div class="calendar-view shadow app-panel">
  <div class="calendar-controls">
    <div id="month-control" class="date-control">
      <button (click)="decreaseMonth()"><</button>
      <div class="date-control-value">{{month + 1}}</div>
      <button (click)="increaseMonth()">></button>
    </div>
    <div id="year-control" class="date-control">
      <button (click)="decreaseYear()"><</button>
      <div class="date-control-value">{{year}}</div>
      <button (click)="increaseYear()">></button>
    </div>
  </div>
  <div class="grid">
    <div *ngFor="let day of cells" [ngClass]="{
      'active-day': day.active,
      'day-cell':true
    }"
    >
    <ng-container
    [ngTemplateOutlet]="day_cell"
    [ngTemplateOutletContext]="{ $implicit: day }"
    ></ng-container>
    </div>
  </div>
</div>

<ng-template #day_cell let-day>
  <div>{{day.day}}</div>

  <div class="tasks-list"
  cdkDropList
  id="{{getCellName(day).toString()}}"
  #getCellName(day).toString()="cdkDropList"
  [cdkDropListData]="day.tasks"
  [cdkDropListConnectedTo]="getCellNames()"
  (cdkDropListDropped)="taskDrop($event)">

    <div *ngFor="let task of day.tasks" class="task-item"
    cdkDrag>{{task.getName()}}</div>

  </div>

</ng-template>
