/* @import '../../../../styles.css'; */

.calendar-view{
  display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.grid{
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  grid-gap: 5px;
  width: 100%;
  height: 100%;
  width: 95%;
  height: 90%;
  margin: auto;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
}

.grid-week-days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week-day{
  text-align: center;
}

.day-cell{
  background-color: aqua;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.day-cell.active-day:hover{
  background-color: aliceblue;
}

.active-day{
  font-weight: bold;
}

.calendar-controls{
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.date-control{
  display: flex;

}

.date-control-value{
  min-width: 100px;
  text-align: center;
}

.task-item{
  border: 1px solid black;
  font-size: small;
  display: flex;

}

.tasks-list{
  height: 100%;
}

/* .cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */

.calendar-tasks{
  width: 100px;
  height: 100%;
}

.calendar-container{
  display: flex;
  height: 100%;
}

.calendar{
  width: 100%;
}

.calendar-tasks-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-top-bar{
  display: flex;
}

.day-number{
  float: left;
}

.day-tasks{
  float: right;
}

.cell-info{
  font-size: x-small;
  width: fit-content;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}

.list-item-options{
  width: 22px;
  height: 100%;
  background-color: azure;
  visibility: visible;
}

.task-name{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.current-day{
  border: 2px solid blue;
  box-sizing: border-box;
}

.dragging{
  border: 2px solid green;
  box-sizing: border-box;
}

.selected{
  background-color: burlywood;
}

.tasks-panel{
  display: flex;
  flex-direction: column;
}
